.interval-container { 
  margin: 0 5px;
  width: 135px;
  height: 36px;
  background-color: #e7e7e7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px !important;
}


button {
  border-radius: 20px;
  margin: 2px 5px;
  height: 25px;
  width: 45px;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(19,37,115,1) 0%, rgba(19,37,115,1) 36%, rgba(4,173,227,1) 100%);
  border: none;
  outline: none;
  cursor: pointer;
  color: #f8f8f8;
  font-weight: 600;
}

button:hover {
  background: #132573;
}