.timer-area {
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 30px;
}

.timer {
  display: flex;
  font-size: 26px !important;
  margin: 10px;
  padding: 0 5px;
  border-radius: 20px;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.session {
  margin: 0 10px;
  display: flex;
  align-items: center;
  padding:1px 5px;
  margin: 5px;
}

.timer-area > button {
  height: 35px;
  width: 52px;
}