.timer {
  display: flex;
  font-size: 28px !important;
  margin: 10px;
  background-color: yellow;
}

.session {
  margin: 0 10px;
  display: flex;
  align-items: center;
  padding:1px 10px;
  margin: 5px;
}

.timer-area {
  display: flex;
}

.timer-area > button {
  margin-top: 10px;
  height: 35px;
  width: 57px;
}